<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<!-- <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="referrer" content="no-referrer" />
		{{ if .Site.Params.description }}
		<meta name="description" content="{{ .Site.Params.description }}" />
		{{ end }}

		<title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
		<link rel="canonical" href="{{ .Permalink }}" />

		<link rel="stylesheet" href="/css/styles.css" />
		<style type="text/css">
			:root {
				--background-color: #090909;
				/*--color-light: #fff;*/
			}
		</style>
		<script src="/javascript/lazysizes.min.js" async=""></script>
	</head>

	<body class="animate fadeIn">
		<section class="navigation-container">
			<a class="navigation-title" href="/">{{ .Site.Title }}</a>
		</section>

		<ul class="photo">
			{{ range sort (.Page.Resources.Match "*.jpg") "Name" "desc" }}
				<li class="photo">
					<img 
						src="{{ .Permalink }}.lqip"
						data-src="{{ .Permalink }}" 
						alt="" 
						class="lazyload blur-up">
				</li>
			{{ end }}
			<li class="photo"></li>
		</ul>

		<footer>
			<p>© 2019 Florian Bürger</p>
		</footer>
	</body>
</html>
