html {
  font-size: 1.0em;
  --serif-font: Georgia, serif;
  --sans-serif-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --mono-font: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  --color-light: #999;
  --text-color: #333;
  --background-color: #fff;
}
@media screen and (min-width: 25em) {
  html {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 40em) {
  html {
    font-size: 1.25em;
  }
}

body {
  font-family: var(--sans-serif-font);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  color: var(--text-color);
  background-color: var(--background-color);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-device-pixel-ratio: 1.25) {
  body {
    -webkit-font-smoothing: antialiased;
  }
}


main {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
  margin: 0 auto;
  max-width: 30em;
  min-height: 100vh;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-serif-font);
  font-weight: 800;
}
h1 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  margin-bottom: 1.5em;
}

pre, code {
  font-size: 0.8em;
  font-family: var(--mono-font);
  background-color: #f7f7f7;
}
code {
  padding: 4px;
}
pre {
  margin-top: 0;
  word-wrap: normal;
  padding: 16px;
  overflow: auto;
}

blockquote {
  text-align:center;
}
blockquote p {
  display:inline-block;
  color: var(--color-light);
}
blockquote:before,blockquote:after {
  content:'\201C';
  font-size: 1.5em;
  color: var(--color-light);
}
blockquote:after {
  content:'\201D';
}

img {
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  text-decoration-skip-ink: auto;
}

.highlighted {
  background-color: #ffff99;
}
.active {
  font-weight: bolder;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 2em 0;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  /*background: rgba(0, 0, 0, 0.35);*/
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.meta {
  color: #999;
  font-size: 0.8em;
  font-family: var(--sans-serif-font);
}

.post-list {
  list-style: none;
}
.post-list__groupby {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  padding-left: 0;
  font-family: var(--sans-serif-font);
}
.post-list__item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.post-list__item .meta {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 6em;
}

.post-image-container {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.post-image-container > img {
    padding-bottom: 1em;
    padding-right: 0;
}
.post-image-container > img:last-child {
  padding-right: 0;
}
@media screen and (min-width: 40em) {
  .post-image-container {
    flex-direction: row;
  }
  .post-image-container > img {
  padding-right: 1em;
  }
}

.post > p > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.avatar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media screen and (min-width: 40em) {
  .avatar {
      margin-top: 4rem;
      margin-bottom: 4rem;
  }
}

.post-list {

}

.navigation-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: var(--sans-serif-font);
}
@media screen and (min-width: 40em) {
  .navigation-container {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.navigation {
  flex-direction: row;
}
.navigation-title {
  color: var(--color-light);
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 0.2em;
  text-decoration: none;
}
.navigation-item {
  color: #999;
  margin-right: 1em;
  text-decoration: none;
}
.link-arrow {
  opacity: 0.4;
}

sup {
  vertical-align: super;
  font-size: 0.6em;
  padding-left: 0.1em;
  font-weight: bold;
  font-family: var(--sans-serif-font);
}
sup > a {
  color: var(--color-light);
  text-decoration: none;
}
.footnote-return {
  color: var(--color-light);
  text-decoration: none;
}

.footnotes {
  margin-top: 6em;
  padding-top: 2em;
  padding-left: 1.5em;
  font-size: 0.7em;
  border-top: 1px solid #999;
}

footer {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 1em;
  font-size: 0.6em;
}

footer > p {
  color: #999;
}

.photos {
  margin: 0 2em;
  min-height: 100vh;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 1.5em;
     -moz-column-gap: 1.5em;
          column-gap: 1.5em;
  -webkit-column-rule-width: 0;
     -moz-column-rule-width: 0;
          column-rule-width: 0;
}
@media screen and (max-width: 40em) {
  .photos {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}

@media screen and (min-width: 60em) {
  .photos {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
}

@media screen and (min-width: 80em) {
  .photos {
    -webkit-column-count: 5;
       -moz-column-count: 5;
            column-count: 5;
  }
}

.photo {
  display: inline-block;
  margin-bottom: 1.5em;
  position: relative;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.photo-overlay {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

.photo-overlay::after {
  display: block;
  content: '+';
  color: rgba(255, 255, 255, .95);
  text-shadow: 0 1px 2px black;
}

.photo img {
  width: 100%;
  /*box-shadow: 0 5px 10px rgba(0, 0, 0, .5);*/
  background: #111;
}

.photo:hover .photo-overlay {
  opacity: 1 !important;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .95);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.lightbox.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lightbox img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.lightbox img.portrait {
  height: 90%;
}

.lightbox img.landscape {
  width: 90%;
  max-height: 90%;
}


.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

.two {
-webkit-animation-delay: 1.7s;
-moz-animation-delay: 1.7s;
animation-delay: 1.7s;
}

.three {
-webkit-animation-delay: 2.3s;
-moz-animation-delay: 2.3s;
animation-delay: 2.3s;
}

.four {
-webkit-animation-delay: 3.3s;
-moz-animation-delay: 3.3s;
animation-delay: 3.3s;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

#not-found {

}
