{{ partial "header.html" . }}

<main>
	<img src="/images/avatar@2x.png" width="250px" height="250px" class="avatar" alt="Picture of Florian Bürger" />

	<p>
		Hi, nice to meet you. My name is <strong>Flo</strong>. I am a location independent consultant
		<a href="https://nomadlist.com/florianbuerger" target="travel">traveling the world</a> with my
		<a href="http://www.verenaortlieb.com" target="_blank">wonderful wife</a>.
	</p>

	<p>
		I like building things for iOS—a passion that I turned into my career <span>ten</span> years ago. Right now I am
		working on an app called <a href="https://flighty.app">Flighty</a>. It will be great and I can't wait to ship
		it.
	</p>

	<!-- <p>If you came here looking for help to build your new idea or improve your existing product, visit the <a href="/work">work</a> page and get in touch. <span class="highlighted">If you are a non-profit, I'd love to help you to make the world a better place</span>. I'm looking forward to hearing from you!</p> -->

	<p>
		As you may have guessed from this layout I like to keep things as simple as possible. I spend my free time
		mostly with <a href="https://www.strava.com/athletes/florianbuerger">running</a>, bouldering, hiking or whatever
		sport the current location is offering.
	</p>

	<p>
		If social media is your thing you can follow me on
		<a href="https://twitter.com/florianbuerger" target="twitter">Twitter</a>.
	</p>

	<p>Or <a href="mailto:hi@florianbuerger.com?subject=Hej!">send an email</a> and say Hej!</p>
</main>

{{ partial "footer.html" . }}
