{{ partial "header.html" . }}

<main>
	
	<img src="/images/avatar@2x.png" width="250px" height="250px" class="avatar" alt="Picture of Florian Bürger"> 

	<p>Hi, nice to meet you. My name is <strong>Flo</strong>. Currently I am learning to live a more meaningful life by adopting minimalism. Or becoming a minimalist. Whatever you wanna call it. The point is to get rid of all the stuff that doesn't bring me joy. All while <a href="https://nomadlist.com/florianbuerger">traveling the world</a> with my <a href="http://www.verenaortlieb.com">wonderful wife</a>.</p>
	
	<p>I like <strong>building things</strong> for iOS—a passion I cultivated over the last ten years and that I turned into my career. I am interested in expanding my horizon to other platforms as well but I have to admit it is hard to find time to really dive in when there is so much to learn. </p>
	
	<p>If you came here <strong>looking for help</strong> to build your new idea or improve your existing product, visit the <a href="/work">work</a> page and get in touch. I'm looking forward to hear from you!</p>
	
	<p>As you may have guessed from this layout I like to keep things as simple as possible. I spend my free time mostly with <strong>running</strong>, bouldering, mountain biking or whatever sport the current location is offering.</p>
	
	<p>If social media is your thing you can follow me on <a href="https://twitter.com/_bergdude">Twitter</a>.</p>
	
	<p>Or <a href="mailto:hi@florianbuerger.com?subject=Hej!">send an email</a> and say Hej!</p>
</main>

{{ partial "footer.html" . }}
