{% extends "base.html" %} {% block content %}

<img
  src="/img/avatar@2x.png"
  width="250px"
  height="250px"
  class="avatar"
  alt="Picture of Florian Bürger"
/>

<p id="intro">👋 Hi, I’m Florian. I build apps.</p>

<ul class="menu">
  <li>
    <a target="_blank" href="https://glass.photo/florianbuerger">photos</a>
  </li>
  <li>
    <a target="_blank" href="https://social.lol/@florianbuerger">social</a>
  </li>
  <li>
    <a target="_blank" href="https://fjorden.co">work</a>
  </li>
</ul>

{% endblock content %}
