{% extends "base.html" %} {% block content %}

<img
	src="/img/avatar@2x.png"
	width="250px"
	height="250px"
	class="avatar"
	alt="Picture of Florian Bürger"
/>

<p id="intro">👋 nice to meet you.</p>

<p>
	My name is <strong>Florian</strong>. I’ve been making iOS apps since the dawn of
	<s>iPhone OS</s> iOS many years ago. At the moment, I am building one called
	<a href="https://fjorden.co">Fjorden</a>.
</p>

<p>
	I live in Amsterdam with my <a href="https://www.verenaortlieb.com">wonderful wife</a>. I spend
	my free time mostly with rock climbing, running, and taking
	<a href="https://glass.photo/florianbuerger">photos</a>.
</p>

{% endblock content %}
